.Rproj.user
.Rhistory
.RData

scripts/framed.sty

scripts/sigma.factors.log

scripts/sigma.factors.pdf

scripts/sigma.factors.synctex.gz

scripts/sigma.factors.tex

scripts/test.Snw

scripts/sigma.factors-concordance.tex

analysis.Rproj

scripts/sfam.analysis.r

scripts/texput.log

scripts/example_tree.pdf

scripts/figure/example_tree.pdf
